*.suo
*.user
*.sln.docstates
*.psess
*.vsp
*.vspx
*.[Rr]e[Ss]harper
*.Publish.xml
*.pubxml
*.publishproj
*.nupkg

packages/

#################

.vs/
bin/
obj/
artifacts/
node_modules/
temp/
/tools/

/src/*/Properties/PublishProfiles/
/src/*/publish.ps1
